dbus-daemon is running
/etc/rc3.d/S355wpa_supplicant.service: /lib/rdk/prepareWpaSuppConfig.sh: line 99: wl: not found
country=US
08.07.2026_00:00.17 Setting custom SSL conf file for wpa_supplicant
08.07.2026_00:00.17 Setting custom SSL conf file /usr/ssl/openssl_SE050.cnf
udhcpc: started, v1.36.1
rdk_dyn_log_initg_dl_socket = 3 __progname = wpa_supplicant 
udhcpc: broadcasting discover
udhcpc: broadcasting discover
udhcpc: broadcasting discover
udhcpc: broadcasting select for 10.0.0.52, server 10.0.0.1
udhcpc: lease of 10.0.0.52 obtained from 10.0.0.1, lease time 172800
deleting routers
route: SIOCDELRT: No such process
adding dns 75.75.75.75
adding dns 75.75.76.76
